.boxContain{
  display: flex;
  flex-direction: column;
  flex:1;
  min-height: 100vh;

}
.boxContent2{
  display: flex;
  background-color: #D98E7E;
  flex: .7;
  align-items: center;
  text-align: center;
  justify-content: center;
  display:flex;
}
.boxContent{
  background-color: #ED320A;
  flex: .15;
  align-items: center;
  text-align: center;
  justify-content: center;
  display:flex;
}
.boxContent3{
  background-color: #4F4543  ;
  flex: .15;
}
.centerBox{
  outline-style: dashed;
  outline-color: black;
  justify-content: center;
  display: flex;
  align-items: center;
}
